body {
  background-image: url('https://e0.pxfuel.com/wallpapers/26/208/desktop-wallpaper-google-now-chrome-cool-cool-simple-landscape-background-minimalist-chrome.jpg');
  background-size: cover;
  background-position: center;

}

#karibu {
  padding: 10px 20px;
  border-radius: 15px;
  border: solid 1px;
  background: linear-gradient(to top, rgb(114, 30, 93) 50%, white 50%);
  background-size: 100% 200%;
  transition: background-position 0.5s ease, color 0.5s ease;
  position: relative;
  overflow: hidden;
  color: black;
}

#karibu::before {
  content: 'Karibu...';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
  color: transparent;
}
#karibu:hover::before {
  opacity: 1;
  color: white;
}

#karibu:hover {
  background-position: 0% 100%;
  color: transparent;
  cursor: pointer;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-left: -60%;
}

.more-icon {
  font-size: 24px; 
  transition: color 0.3s ease, transform 0.3s ease; 
}

.more-icon:hover {
  color: red; 
  transform: scale(1.1); 
  content: "\1F60E"; 
  
}